<table [attr.width]="width + 'px'" (click)="openSettings($event)" class="table position-absolute" [ngStyle]="{top: top + 'px', left: left + 'px', width: width + 'px'}">
    <!-- <thead>
        <th *ngFor="let col of columns; let i = index">{{getThData(i)}}</th>
    </thead> -->
    <div class="mover-area"></div>
    <tbody>
        <tr *ngFor="let d of data">
            <td *ngFor="let r of d">
                <input type="text" value="{{r}}">
            </td>
        </tr>
    </tbody>
</table>