<app-header></app-header>
<div class="doc-area">
    <div class="doc-left">
        <div class="settings-header">
            <i *ngIf="selectedComponent" (click)="back()" class="material-icons back">keyboard_backspace</i>
            <div class="title">{{ selectedComponent ? selectedComponent.name : 'Copmponent' }}</div>
        </div>
        <div class="blocks" *ngIf="!selectedComponent">
            <div class="block" draggable="true" (dragstart)="dragStartEvent($event, 'image')"> </div>
            <div class="block"> </div>
            <div class="block"> </div>
            <div class="block"> </div>
            <div class="block"> </div>
            <div class="block"> </div>
            <div class="block"> </div>
            <div class="block"> </div>
            <div class="block"> </div>
        </div>
        <div *ngIf="selectedComponent" class="config" [ngSwitch]="selectedComponent.name">
            <app-image-config *ngSwitchCase="'image'"></app-image-config>
        </div>
    </div>
    <div class="doc-right">
        <div class="doc-pane">
            <app-document></app-document>
        </div>
    </div>
</div>