<app-input-picker [title]="'Top'" [(model)]="model.top" ></app-input-picker>
<app-input-picker [title]="'Left'" [(model)]="model.left" ></app-input-picker>
<app-input-picker [title]="'Width'" [(model)]="model.width" ></app-input-picker>
<app-input-picker [title]="'Height'" [(model)]="model.height" ></app-input-picker>
<app-input-picker [title]="'Font Size'" [(model)]="model.fontSize" ></app-input-picker>
<app-option-picker [title]="'Font Family'" [(model)]="model.fontFamily" [options]="fontFamilyOptions" ></app-option-picker>
<app-color-picker [title]="'Color'" [(model)]="model.color" ></app-color-picker>