/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    margin: 0;
    padding: 0;
    background: #e5e5e5;
    overflow: hidden;
    height: 100%;
    font-family: sans-serif;
    color: #6c6c6c;
}

h4, h5 {
    margin: 0;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1020;
    min-height: 52px;
    color: rgb(67, 69, 78);
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
}

.doc-left {
    width: 345px;
    background: white;
    position: absolute;
    height: 100%;
    top: 52px;
    padding: 0 0 30px 30px;
}

.doc-pane {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: calc(100% - 375px);
    top: 52px;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    right: 0;
}

#document {
    position: relative;
    max-width: 595px;
    height: 842px;
    background-color: rgb(255, 255, 255) !important;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
    overflow: hidden;
}

.config {
    overflow-y: auto;
    height: calc(100vh - 120px);
    padding-right: 30px;
}

.config-header {
    display: flex;
    padding: 25px 0;
    margin-right: 30px;
    align-items: center;
    box-shadow: inset 0 -1px 0 #e5e5e5;
}

.config-header .back {
    position: absolute;
}

.config-header .title {
    text-align: center;
    flex: 1;
    text-transform: capitalize;
}

.block-container {
    padding: 25px 30px 0 0;
    justify-content: space-between;
    display: flex;
}


.block-container .block {
    border: 1px solid #e5e5e5;
    background: #f4f4f4;
    color: #000;
    cursor: move;
    display: flex;
    padding: 20px 0;
    -webkit-box-flex: 1;
    flex-basis: 45%;
}

.block-container .block .mat-icon {
    flex: 1;
    height: 100%;
    font-size: 45px;
    text-align: center;
    color: #a0a0a0;
    line-height: 70px;
}

.block-container .block:hover {
    background: white;
}

.picker {
    display: flex;
    padding: 20px 0;
    box-shadow: inset 0 -1px 0 #e5e5e5;
}

.picker h5 {
    line-height: 25px;
    flex: 1;
}

.picker .control {
    flex: 2;
    text-align: right;
    position: relative;
}

.picker .file-picker {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.picker .input-picker input {
    width: 55px;
    height: 23px;
    border-radius: 3px;
    border: 1px solid #b7b7b7;
    padding: 0 25px 0 5px;
}

.picker .input-picker span,
.border-width-picker span {
    position: absolute;
    font-size: 14px;
    right: 0px;
    line-height: 21px;
    height: calc(100% - 2px);
    padding: 0px 5px;
    background: #ddd;
    margin: 1px 1px 1px 0;
    border-radius: 0 2px 2px 0;
}

.picker .border-picker {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.picker .border-style-picker,
.picker .option-picker {
    border: 1px solid #b7b7b7;
    display: flex;
    height: 23px;
    align-items: center;
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
    border-radius: 3px;
}

.picker .option-picker {
    flex: 0.5;
}

.picker .border-width-picker {
    text-align: left;
}

.picker .border-width-picker span {
    right: 5px;
}

.border-picker .border-picker-item {
    position: relative;
    flex-basis: 30%;
}

.picker .border-color-picker,
.picker .color-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.picker .color-picker {
    justify-content: flex-end;
}

.picker .border-color-picker span.color,
.picker .color-picker span.color {
    flex-basis: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid #b7b7b7;
}

.picker .border-color-picker .color-name,
.picker .color-picker .color-name {
    font-size: 14px;
    border: 1px solid white;
    height: 23px;
    line-height: 23px;
    padding: 0 5px;
    border-radius: 3px;
}

.picker .border-color-picker .color-name:hover, 
.picker .border-color-picker input.color-name {
    border: 1px solid #b7b7b7;
}

.picker .border-color-picker input.color-name {
    width: 55px;
}

.border-width-picker input {
    width: calc(100% - 42px);
    height: 23px;
    border-radius: 3px;
    border: 1px solid #b7b7b7;
    padding: 0 30px 0px 5px;
}

.picker .file-picker .file-name {
    font-size: 12px;
    color: #6c6c6c;
    padding-right: 15px;
}

.mover-area {
    position: absolute;
    height: 8px;
    width: calc(100% - 10px);
}

/* app-text .text:hover .text-mover-area {
    background: #9c9c9c3d;
    box-shadow: rgba(86, 86, 86, 0.15) 0px 2px 3px;
} */

.action-button {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 0;
    top: -25px;
}

app-text .text {
    padding: 0 5px 5px;
}

.text textarea {
    resize: none;
}

.picker.text-controls {
    padding: 10px 0;
}

.text-controls mat-icon {
    text-align: center;
    flex: 1;
    padding: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 1px;
}

.text-controls .mat-icon:hover,
.text-controls .mat-icon.active {
    background: #dddddd;
}

.block-active, .dropzone-hover {
    border: 1px solid #aed4ae;
    border-radius: 3px;
}

.block-active {
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 0px;
}

app-line .line-parent {
    padding: 8px 0;
    border: 1px solid rgba(0, 0, 0, 0);
}

app-line .line-parent:hover {
    border: 1px solid #dddddd;
}

app-table .table {
    border-collapse: collapse;
}

app-table .table td {
    padding: 0;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.img-loader-container {
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-15px, -15px);
    position: absolute;
}

.img-loader {
    border: 3px solid rgba(0,0,0,.1);
    -webkit-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
    border-top-color: #8e8e8e;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.color-pink {
    color: #ff4081;
}

.flex {
    display: flex;
}

.padding-top-0 {
    padding-top: 0;
}

.box-shadow-none {
    box-shadow: none;
}

.position-absolute {
    position: absolute;
}