/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    margin: 0;
    padding: 0;
    background: #e5e5e5;
    overflow: hidden;
    height: 100%;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1020;
    min-height: 52px;
    color: rgb(67, 69, 78);
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
}

.doc-left {
    width: 315px;
    background: white;
    position: absolute;
    left: 0;
    height: 100%;
    bottom: 0;
    top: 52px;
}

.doc-pane {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: calc(100% - 315px);
    top: 52px;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    right: 0;
}

#document {
    position: relative;
    max-width: 595px;
    height: 842px;
    background-color: rgb(255, 255, 255) !important;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
}

.settings-header {
    height: 22px;
    padding: 15px;
    box-shadow: inset 0 -1px 0 #e5e5e5;
    font-family: sans-serif;
}

.settings-header .back {
    position: absolute;
}

.settings-header .title {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
    font-weight: normal;
}

.blocks {
    padding: 15px;
}

.blocks .block {
    display: inline-block;
    margin: 0 0 6px 6px;
    width: 82px;
    height: 64px;
    border: 1px solid #e5e5e5;
    background: #f4f4f4;
    color: #000;
    cursor: move;
}

.blocks .block:hover {
    background: white;
}

/* jquery ui css */
.ui-draggable-handle {
    background: #f4f4f4 !important;
    z-index: 99999;
}

.ui-droppable-hover:hover .ui-draggable-dragging::before {
    border: .5px solid #aed4ae;
    position: fixed;
    content: "";
    top: 0;
    bottom: 0;
}

.dropzone-hover {
    border: 1px solid #aed4ae;
    border-radius: 3px;
}

/* .image {
    position: absolute;
} */

.loader {
    display: inline-block;
    width: 47px;
    height: 47px;
    margin: -35px 0 0 -22px;
    border: 7px solid rgba(0,0,0,.1);
    -webkit-animation: rotation .5s infinite linear;
    animation: rotation .5s infinite linear;
    border-top-color: #8e8e8e;
    -webkit-border-radius: 9999px;
    border-radius: 100%;
}